PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/product-inventory
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
